---
const { url, postData } = Astro.props;
---

<style>
  .post-card {
    list-style-type: none;
    border-radius: 1rem;
    border: 0.2rem outset;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 30rem;
  }
  .post-card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  .post-card span {
    display: flex;
    flex-direction: row;
  }

  .post-image {
    background-color: black;
  }

  .post-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }

  .post-description {
    margin: 1rem;
  }
</style>
<li class="card post-card">
  <a href={url}>
    <p class="post-title">
      {postData.title}
    </p>
    <span>
      <img
        class="post-image"
        src={postData.image.url}
        alt={postData.image.alt}
        width="100px"
        height="auto"
      />
      <p class="post-description">
        {postData.description}
      </p>
    </span>
  </a>
</li>
